//page width
$full-width:100%;
$x-larg:1140px;
$larg:960px;
$medim:720px;
$small:540px;
$nav-height:56px;

//search components
$search-height:30px;
$border-reduis:5px;

//colors
$primary-color:#fff;
$secondary-color: #f9f9f9;
$component-border-color:#ccc;
$fonts-main-color: rgb(154, 152, 152);
$fonts-secondary-color: rgb(70, 68, 68);
$mobile-background-color:red;